.layout-default {
  &__header {
    background: orange;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }

  &__logo {
    font-size: 24px;
    font-weight: 700;
    color: white;
  }

  a {
    text-decoration: none;
    color: white;
  }

  &__main {
    padding: 20px;
  }

  &__footer {
    background: orange;
    text-align: center;
    padding: 10px 20px;
  }
}



.menu {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    li {

      position: relative;

      a {
        margin: 0 20px;
        padding: 15px;

        &:hover {
          background-color: orangered;
        }

        &.active {
          background-color: orangered;
        }

      }
    }

  }

  &__link {
    color: #000;
    text-decoration: none;

    &--active {
      color: #fff;
    }
  }

  &__sub {
    position: absolute;
    top: 100%;
    background-color: orangered;
    right: 0;
    display: none !important;
    flex-direction: column;

    li {
      margin-left: 0 !important;
    }

    a {
      white-space: nowrap;
      display: block;
      padding: 4px 10px;
    }
  }

  li:hover>&__sub {
    display: flex !important;
  }

}

.authentication {
  a:first-child {
    margin-right: 20px;
  }
}

.layout-default__main {
  padding: 0 40px;
  margin: 40px 0;
  min-height: 79vh;
}